body {
    font-family: Arial, sans-serif;
  }

.carousel-item img {
  height: 500px;
  object-fit: cover;
}


#nombre::placeholder {
    color: #cccccc;  /* gris claro */
}

#apellido::placeholder {
    color: #cccccc;  /* gris claro */
}

#nit::placeholder {
    color: #cccccc;  /* gris claro */
}

#telefono::placeholder {
    color: #cccccc;  /* gris claro */
}

#documentoDeIdentificacion::placeholder {
    color: #cccccc;  /* gris claro */
}
